<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>details</title>
    <link rel="stylesheet" href="../static/details.css">
</head>
<body>
    <div class="main">
        <div class="box1">
            <div class="data1">
                <p class="p">SpaceX, officially known as Space Exploration Technologies Corp., was founded by Elon Musk in 2002 with the goal of reducing space transportation costs to enable the colonization of Mars. The company is headquartered in Hawthorne, California, and has developed a series of launch vehicles, including the Falcon 1, Falcon 9, and Falcon Heavy, as well as the Dragon spacecraft. SpaceX has achieved numerous milestones in the aerospace industry, including the first privately funded, liquid-propellant rocket to reach orbit, and the first privately funded company to send a spacecraft to the International Space Station (ISS).</p>
                <p></p>
            </div>
            <div class="img1" id="image1">
        
            </div>
        </div>
        <div class="box1" id="d1">
            <div class="data11">
                <p>In addition to its launch services, SpaceX is working on several ambitious projects. One of these is the Starlink program, which aims to create a global satellite internet network to provide high-speed internet access to underserved areas around the world. Another major project is the development of the Starship, a fully reusable spacecraft designed for missions to Mars and other deep space destinations.</p>
                <p>Space Exploration Technologies Corporation, commonly referred to as SpaceX, is an American spacecraft manufacturer, launch service provider and satellite communications company headquartered in Hawthorne, California. The company was founded in 2002 march 14 by Elon Musk with the goal of reducing space transportation costs and ultimately developing a sustainable colony on Mars. The company currently produces and operates the Falcon 9 and Falcon Heavy rockets along with the Dragon and Starship spacecraft.</p>
                </div>
            <div class="img1"  id="image"></div>
        </div>
        <div class="box1">
            <div class="data1">
                <p>Space Exploration Technologies Corporation, commonly referred to as SpaceX, is an American spacecraft manufacturer, launch service provider and satellite communications company headquartered in Hawthorne, California. The company was founded in 2002 march 14 by Elon Musk with the goal of reducing space transportation costs and ultimately developing a sustainable colony on Mars. The company currently produces and operates the Falcon 9 and Falcon Heavy rockets along with the Dragon and Starship spacecraft.</p>
            </div>
            <div class="img1" id="image2"></div>
        </div>
    </div>
    <div class="button1">
        <a href="/">Back To Menu</a>

    </div>
    
</body>
</html>