<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    <div class="box1">
        <div class="a1">
        <h3 >What is SpaceX..?</h3>
        <p class="a01">Space Exploration Technologies Corporation, commonly referred to as SpaceX, is an American spacecraft manufacturer, launch service provider and satellite communications company headquartered in Hawthorne, California. The company was founded in 2002 march 14 by Elon Musk with the goal of reducing space transportation costs and ultimately developing a sustainable colony on Mars. The company currently produces and operates the Falcon 9 and Falcon Heavy rockets along with the Dragon and Starship spacecraft.</p>
        </div>
        <div class="a2"><br><h3 class="a11"> The Falcon 9 First Stage Landing Success Predictor</h3><p> It is a project designed 
                        to predict the likelihood of successful landings of the first stage of SpaceX's Falcon 9 rocket. This tool utilizes historical data and advanced machine learning algorithms to provide accurate predictions.</p>
        </div>
        <div class="a3"> <br><h3 class="a22">Main Goal:</h3> <p>A significant aspect of SpaceX's innovation is its focus on reusability</p>   <p>The aim is to  increase the success rate of landings, thereby enhancing the reusability of the rockets and reducing costs</p>
            <p>Reducing space transportation costs and ultimately developing a sustainable colony on Mars.</p><p></p>
    </div>
    <div class="a4"><br><h3 class="a33">Founder:ELON MUSK</h3>
            <p>Elon Reeve musk was born on 28 june 1971 in pretoria at South Africa . He is the CEO of Tesla Motors.. The organizations he founded Tesla, Space, Neuralink, OpenAi, XAi, Zip2, the boring company, Xcorp, Texas Institute of tech& science, X. Com, musk foundation. The net worth of musk is 24,870 crores USD as per INR 2 lakh crores.He is the 1st  world richest person.</p>
    </div></div>
    <div class="button1">
        <a href="/">Back To Menu</a>
        <a class="b1">learn more</a>
    </div>
    
</body>
</html>