<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space x Falcon</title>
    <link rel="stylesheet" href="../static/spacex.css">
</head>
<body>
    <div class="header">
        <div class="navbar">
            <h1>SPACE X FALCON</h1>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/predict">predict</a></li>
                <li><a href="/details">Details</a></li>
                <li><a href="/contact">contact</a></li>
                
                
            </ul>
        </div>
        <div class="data">
            <h2>spacex falcon 9 first stage  landing </h2>
            <p class="typing-animation">welcome to spacex falcon 9 first stage  landing succes predictor</p>
        
        <div class="button1">
            <a href="/predict">predict here</a>
            <a class="b1">learn more</a>
        </div>
        </div>
    </div>
    
</body>
</html>